html {
  scroll-behavior: smooth;
 }

 a {
   text-decoration: none;
   cursor: pointer;
 }

div, body {
  /*border: 1px solid red;*/
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Nunito');

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin: 0 30px;
  cursor: pointer;
  font-size: 1.5rem;
}

.port-link, li {
  position: relative;
  color: #fff;
  text-decoration: none;
}

.port-link:before, li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.port-link:hover:before, li:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*li:hover {
  text-decoration: underline;
}*/

span, li {
  font-family: 'Nunito';
  color: white;
}

.header-container {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(to bottom right, hsla(260, 40%, 60%, 1), hsla(160, 40%, 60%, 1));
}

.name-container {
  padding-top: 4%;
}

.name {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0;
}

.subtitle {
  text-align: center;
  font-size: 1.5rem;
}

.nav {
  text-align: center;
}

.hero-container, .portfolio-page-header-container {
  width: 100%;
  height: 70vh;
  background-color: hsla(210, 40%,50%, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero span {
  font-size: 3rem;
}

.portfolio-hero {
  padding: 0 10%;
  text-align: center;
}

.portfolio-hero span {
  font-size: 1.5rem;
}

.hero-arrow {
  position: absolute;
  bottom: 1%;
}

i {
  color: white;
}

.fa-chevron-circle-down {
  font-size: 3rem;
}

.about-container {
  display: flex;
  flex-direction: row;
  background-color: hsla(160, 40%, 50%, 1);
}

.about-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-left img {
  width: 100%:
  height: 100%;
  border-radius: 210px;
  border: 6px solid #ffffff;
}

.about-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 3%;
}

.about-header {
  font-size: 3rem;
  margin-bottom: 5%;
}

.about-arrow {
    position: absolute;
    bottom: -99%;
    left: 50%;
}

.experience-arrow {
  position: absolute;
  bottom: -199%;
  left: 90%;
}

.about-container, .experience-container, .portfolio-container {
  width: 100%;
  height: 100vh;
}

.experience-container {
  background-color: hsla(260, 40%, 60%, 1);display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.experience-container-header {
  text-align: center;
  font-size: 3rem;
}

.experience-header {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1%;
}

.experience-content {
  padding: 0 10% 0 23%;
}

.portfolio-container {
  background-color: hsla(210, 40%,50%, 1);
}

.portfolio-header {
  text-align: center;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  height: 16%;
}

.portfolio-header span {
  margin: auto 0;
}

.portfolio-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  height: 84%;
  margin-right: -10px;
}

.portfolio-block {
  width: 33.16%;
  transition: all .3s ease-in-out;
}

.portfolio-block *:hover {
  transition: all .3s ease-in-out;
}

.portfolio-block a {
    display: block;
    text-align: center;
    position: relative;
    top: 42%;
    font-size: 1.5rem;
    transition: all .3s ease-in-out;
    padding: 30% 20% 30% 20%;
    margin-top: -30%;
}

.portfolio-block a:hover {
  transform: scale(1.2);
}

.cro {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url('https://raw.githubusercontent.com/pennebaj/joepennebaker.com/master/images/abtest1.png');
  background-size: contain;
}

.ux {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url('https://raw.githubusercontent.com/pennebaj/joepennebaker.com/master/images/ux1.JPG');
  background-size: cover;
}

.ui {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url('https://raw.githubusercontent.com/pennebaj/joepennebaker.com/master/images/ui1.png');
  background-size: cover;
}

.graphics {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url('https://raw.githubusercontent.com/pennebaj/joepennebaker.com/master/images/graphics1.png');
  background-size: cover;
}

.video {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url('https://raw.githubusercontent.com/pennebaj/joepennebaker.com/master/images/video1.png');
  background-size: cover;
}

.brand {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url('https://raw.githubusercontent.com/pennebaj/joepennebaker.com/master/images/brand1.png');
  background-size: cover;
}

#cro-img img {
  border-radius: 0px;
  width: 80%
}

.ux-container, .video-container {
  background-color: hsla(260, 40%, 60%, 1);
}

.ui-container, .port-brand-container {
  background-color: hsla(210, 40%,50%, 1);
}

.ux-arrow, .ui-arrow, .graphics-arrow, .video-arrow, .brand-arrow {
  position: absolute;
  left: 50%;
}

.ux-arrow {
  bottom: -199%;
}

.ui-arrow {
  bottom: -299%;
}

.graphics-arrow {
  bottom: -399%;
}

.video-arrow {
  bottom: -499%;
}

.brand-arrow {
  bottom: -599%;
  transform: rotate(180deg);
}

.about-content a, .brand-arrow span {
  color: white;
  text-decoration: underline;
}

.contact-container {
  position: absolute;
  top: 3%;
  right: 5%;
  display: flex;
  width: 5%;
  justify-content: space-between;
}
