html {
  scroll-behavior: smooth;
 }

 a {
   text-decoration: none;
   cursor: pointer;
 }

div, body {
  /*border: 1px solid red;*/
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Nunito');

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1.5rem;
}

li {
  position: relative;
  color: #000;
  text-decoration: none;
}

li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

li:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*li:hover {
  text-decoration: underline;
}*/

span, li {
  font-family: 'Nunito';
  color: white;
}

.header-container {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(to bottom right, hsla(260, 40%, 60%, 1), hsla(160, 40%, 60%, 1));
}

.name-container {
  padding-top: 4%;
}

.name {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0;
}

.subtitle {
  text-align: center;
  font-size: 1.5rem;
}

.nav {
  text-align: center;
}

.hero-container {
  width: 100%;
  height: 70vh;
  background-color: hsla(210, 40%,50%, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero span {
  font-size: 3rem;
}

.hero-arrow {
  position: absolute;
  bottom: 1%;
}

i {
  color: white;
}

.fa-chevron-circle-down {
  font-size: 3rem;
}

.about-container {
  display: flex;
  flex-direction: row;
  background-color: hsla(160, 40%, 50%, 1);
}

.about-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-left img {
  width: 100%:
  height: 100%;
  border-radius: 210px;
}

.about-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 3%;
}

.about-header {
  font-size: 3rem;
  margin-bottom: 5%;
}

.about-arrow {
    position: absolute;
    bottom: -99%;
    left: 50%;
}

.about-container, .experience-container, .portfolio-container {
  width: 100%;
  height: 100vh;
}

.experience-container {
  background-color: hsla(260, 40%, 60%, 1);display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.experience-container-header {
  text-align: center;
  font-size: 3rem;
}

.experience-header {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1%;
}

.experience-content {
  padding: 0 10% 0 23%;
}

.portfolio-container {
  background-color: hsla(210, 40%,50%, 1);
}

.portfolio-header {
  text-align: center;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  height: 10%;
  padding: 3% 0;
}

.portfolio-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  height: 84%;
  margin-right: -10px;
}

.portfolio-block {
  width: 33.16%;
  transition: all .3s ease-in-out;
}

.portfolio-block *:hover {
  transition: all .3s ease-in-out;
}

.portfolio-block span {
  display: block;
    text-align: center;
    position: relative;
    top: 42%;
    font-size: 1.5rem;
    transition: all .3s ease-in-out;
}

.portfolio-block span:hover {
  transform: scale(1.2);
}

.cro {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5) ), url('file:///Users/pennebaj/Documents/portfolio/images/abtest1.png');
  background-size: contain;
}

.ux {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5) ), url('file:///Users/pennebaj/Documents/portfolio/images/ux1.jpg');
  background-size: cover;
}

.ui {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5) ), url('file:///Users/pennebaj/Documents/portfolio/images/ui1.png');
  background-size: cover;
}

.graphics {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5) ), url('file:///Users/pennebaj/Documents/portfolio/images/graphics1.png');
  background-size: cover;
}

.video {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5) ), url('file:///Users/pennebaj/Documents/portfolio/images/video1.png');
  background-size: cover;
}

.brand {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5) ), url('file:///Users/pennebaj/Documents/portfolio/images/brand1.png');
  background-size: cover;
}
